:root {
/* The size according to the times of eight */
    --size-s: 8px;
    --size-m: 16px;
    --size-l: 24px;
    --size-xl: 32px;
    --size-xxl: 40px;

/* Some colors */
    --col-bitwhite: #fcfcfc;
    --col-white: #fff;
    --col-blue: #6cf;
    --col-black: #000;
    --col-not-so-black: #333;
    --col-grey: #f2f2f2;
    --col-purple: rgb(91, 6, 202);
    --col-dark-blue: rgb(0, 89, 255);
}

/* Delete the margin of html */
html {
    margin: 0;
}

/* Set the background color of the page */
body {
    background-color: var(--col-grey);
}

/* Style the header */
header {
    background-color: var(--col-not-so-black);
    color: var(--col-white);
    font-size: var(--size-xxl);
    padding: var(--size-l);
    text-align: center;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the section headings */
h1 {
    font-size: var(--size-xxl);
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: var(--size-xl);
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Style the paragraphs */
p {
    font-size: var(--size-l);
    line-height: 1.5;
}

/* Style the unordered list */
ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the list items */
li {
    font-size: var(--size-l);
    line-height: 1.5;
}

/* Style the images */
img {
    height: auto;
    margin: 40px;
}

.flex-container {
    display: flex;
}

.introduction {
    font-size: var(--size-l);
    line-height: 1.5;
}

.u-center {
    text-align: center;
}

.u-right {
    text-align: right;
}

.flex-grow {
    flex: 1;
    align-items: center;
}

button {
    font-size: var(--size-xxl);
}

.u-font-color-purple {
    color: var(--col-purple);
}

.center-block {
    display: block;
    margin: auto;
    width: 70%    
}

.u-margin-right {
    margin-right: 50px;
}

.u-margin-left {
    margin-left: 50px;
}

.u-float-right {
    float: right;
}

.u-float-left {
    float: left;
}

.u-text-indent {
    text-indent: 2em;
}

.hr-wavy {
    border: 0;
    color: #d0d0d5;
    height: .5em;
    white-space: nowrap;
    letter-spacing: 100vw;
    padding-top: .5em;
}
.hr-wavy::before {
    content: "\2000\2000";
    /* IE浏览器实线代替 */
    text-decoration: overline;
    /* 现代浏览器 */
    text-decoration: overline wavy;
}

a {
    text-decoration: underline;
    color: var(--col-not-so-black)
}