:root {
/* The size accroding to the times of eight */
    --size-s: 8px;
    --size-m: 16px;
    --size-l: 24px;
    --size-xl: 32px;
    --size-xxl: 40px;

/* Some colors */
    --col-bitwhite: #fcfcfc;
    --col-white: #fff;
    --col-blue: #6cf;
    --col-black: #000;
}

/* Delete the margin of html */
html {
    margin: 0;
}

/* Set the background color of the page */
body {
    background-color: var(--col-grey);
}

/* Style the header */
header {
    background-color: #333;
    color: var(--col-white);
    font-size: var(--size-xxl);
    padding: var(--size-l);
    text-align: center;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the section headings */
section h2 {
    font-size: var(--size-l);
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Style the paragraphs */
p {
    font-size: var(--size-m)
    line-height: 1.5;
}

/* Style the unordered list */
ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the list items */
li {
    font-size: 18px;
    line-height: 1.5;
}

/* Style the images */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #ccc;
}

a {
    color: var(--col-blue);
}

.container {
    display: flex;
}