:root {
/* The size according to the times of eight */
    --size-s: 8px;
    --size-m: 16px;
    --size-l: 24px;
    --size-xl: 32px;
    --size-xxl: 40px;

/* Some colors */
    --col-bitwhite: #fcfcfc;
    --col-white: #fff;
    --col-blue: #396dff;
    --col-black: #000;
    --col-not-so-black: #333;
    --col-grey: #f2f2f2;
    --col-purple: rgb(91, 6, 202);
    --col-dark-blue: rgb(0, 89, 255);
}

/* Delete the margin of html */
html {
    margin: 0;
}
body {
    margin: 0;
}

/* Set the background color of the page */
body {
    background-color: var(--col-grey);
}

/* Style the header */
header {
    background-color: var(--col-blue);
    color: var(--col-white);
    font-size: var(--size-xl);
    padding: var(--size-l);
    text-align: center;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the section headings */
h1 {
    font-size: var(--size-xxl);
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: var(--size-xl);
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    font-size: var(--size-l);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style the paragraphs */
p {
    font-size: var(--size-l);
    line-height: 1.5;
}

summary {
    font-size: var(--size-l);
    line-height: 1.5;
    font-weight: bold;
    text-decoration-line: underline;
}

/* Style the unordered list */
ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the list items */
li {
    font-size: var(--size-l);
    line-height: 1.5;
}

/* Style the images */
img {
    border-radius: 20px;
    height: auto;
    margin: 20px 40px;
}

.flex-container {
    display: flex;
    padding: 20px;
}

.introduction {
    font-size: var(--size-l);
    line-height: 1.5;
}

.u-center {
    text-align: center;
}

.u-right {
    text-align: right;
}

.flex-grow {
    flex: 1;
    align-items: center;
}

.flex-grow-heavy {
    flex: 1.5;
    align-items: center;
}

.flex-grow-most {
    flex: 7;
    align-items: center;
}


.u-font-color-red {
    color: red;
}

.u-font-color-purple {
    color: var(--col-purple);
}

.u-font-color-dark-blue {
    color: var(--col-dark-blue);
}
.center-block {
    margin: auto;
    padding: var(--size-m) var(--size-m);
    width: 65%;
}

.center-block-wide {
    margin: auto;
    padding: var(--size-m) var(--size-m);
    width: 85%;
}


.center-block-no-confine {
    margin: auto;
    padding: var(--size-m) var(--size-m);
    width: 100%;
}


.u-margin-right {
    margin-right: 50px;
}

.u-margin-left {
    margin-left: 50px;
}

.u-float-right {
    float: right;
}

.u-float-left {
    float: left;
}

.u-text-indent {
    text-indent: 2em;
}

.hr-wavy {
    border: 0;
    color: var(--col-blue);
    height: 2px;
    white-space: nowrap;
    letter-spacing: 100vw;
    padding-top: 35px;
    padding-bottom: 35px;
}

.hr-wavy::before {
    content: "\2000\2000";
    /* IE浏览器实线代替 */
    text-decoration: overline;
    /* 现代浏览器 */
    text-decoration: overline wavy;
}

 .hr-space-square {
    border: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--col-not-so-black);
    background: linear-gradient(currentColor, currentColor) no-repeat center;
    background-size: calc(100% - 1.5em - 6px) 1px;
    display: flex;
    justify-content: space-between;
}
.hr-space-square::before,
.hr-space-square::after {
    content: '';
    display: block;
    width: .75em; height: .75em;
    transform: rotate(45deg);
    box-sizing: border-box;
    border: 1px solid;
    margin: 3px;
}


a {
    text-decoration: underline;
    color: var(--col-not-so-black)
}

.u-text-dec-none {
    text-decoration: none;
}

.hint {
    font-size: 20px;
    line-height: 1.5;
}

.return-box {
    text-align: center;
    padding: 30px 0;
}