.left-border {
    border-left: 5px dotted var(--col-black);
    margin-left: 50px;
}

.change-button {
    margin: 2px 0;
    border: solid 3px var(--col-black);
    border-radius: 10px;
    padding: 0.2em 1em;
    color: var(--col-purple);
}